<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>Here are the books that we sell:</h1>
     <li>
        <ul>
            <%shopData%>
        </ul>
     </li>
  </body>
</html>
